@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  @apply bg-white text-black;

}

.container {
  max-width: calc(1264px + 80px);
  margin: 0 auto;
  padding: 0 40px;
}