---
import FormEarlyAccess from "./FormEarlyAccess.astro";
---

<section>
  <div class="w-full bg-desaturated-blue">
    <div class="container">
      <div
        class="flex flex-col md:flex-row justify-between pt-[6.5625rem] pb-20 md:max-w-none max-w-[31.25rem] md:mx-0 mx-auto"
      >
        <div class="max-w-[30rem] text-white md:text-left text-center">
          <h2 class="text-[2.125rem] font-Raleway font-bold">
            Get early access today
          </h2>
          <p class="md:text-[1.025rem] text-[1.025rem] mt-5">
            It only takes a minute to sign up and our free starter tier is
            extremely generous. If you have any questions, our support team
            would be happy to help you.
          </p>
        </div>
        <div class="md:w-[31.25rem] w-full">
          <FormEarlyAccess />
        </div>
      </div>
    </div>
  </div>
</section>
