---
import FormEarlyAccess from "./FormEarlyAccess.astro";
---

<section>
  <div class="w-full bg-desaturated-blue">
    <div class="container">
      <div class="flex  justify-between pt-20 pb-16">
        <div class="max-w-[30rem] text-white">
          <h2 class="text-[27px] font-Raleway font-bold">
            Get early access today
          </h2>
          <p class="text-[15.4px] mt-4">
            It only takes a minute to sign up and our free starter tier is
            extremely generous. If you have any questions, our support team
            would be happy to help you.
          </p>
        </div>
        <div class="w-[500px]">
          <FormEarlyAccess />
        </div>
      </div>
    </div>
  </div>
</section>
