---

---

<form id="hero-form" class="relative flex gap-4">
  <input
    type="email"
    name=""
    id="hero-email-input"
    class="w-full border p-[14px] rounded-[4px] border-black"
  />
  <button
    id="hero-form-btn"
    class="max-w-[205px] w-full bg-bright-blue text-white font-Raleway font-bold rounded-[4px]"
    >Get Started</button
  >
  <span class="absolute top-16 left-2 text-red-600">
    Please check your email
  </span>
</form>
