---

---

<form
  id="hero-form"
  class="relative flex flex-col sm:flex-row gap-4 sm:max-w-none md:max-w-[34.6875rem] max-w-[21.875rem] w-full md:w-auto sm:mx-0 mx-auto md:mt-0 mt-6"
>
  <input
    type="email"
    name=""
    id="hero-email-input"
    class="w-full md:text-base text-sm border md:p-[.875rem] p-[.75rem] px-[1.25rem] rounded-[.25rem] border-black"
    placeholder="Enter your email..."
  />
  <button
    id="hero-form-btn"
    class="sm:max-w-[12.8125rem] w-full bg-bright-blue text-white font-Raleway font-bold rounded-[.25rem] sm:p-0 p-3"
    onclick="submitForm(e)">Get Started</button
  >
  <span
    class="absolute md:top-16 left-2 top-[-2.25rem] text-red-600"
    id="email-error"
  >
  </span>
</form>

<style>
  .show-error span {
    color: rgb(225, 71, 71);
  }

  .show-error input {
    border: 1px solid rgb(225, 71, 71);
  }

  .show-success span {
    font-weight: 700;
    color: rgb(42, 155, 42);
  }

  .show-success input {
    border: 1px solid;
    @apply border-green-500;
  }
</style>
