---
//1230px
---

<header class="w-full">
  <div
    class="max-w-[84rem] px-[2.5rem] sm:py-[4.0625rem] py-[1.25rem] flex justify-between items-center mx-auto"
  >
    <div class="max-w-[5rem] sm:max-w-none">
      <img src="/images/logo.svg" alt="" />
    </div>

    <nav>
      <ul
        class="flex sm:gap-16 gap-4 sm:text-base text-sm text-desaturated-blue"
      >
        <li><a href="">Features</a></li>
        <li><a href="">Team</a></li>
        <li><a href="">Sign in</a></li>
      </ul>
    </nav>
  </div>
</header>
