---

//1230px
---

<header class="w-full">
  <div class="max-w-[1310px] px-[40px] sm:py-[80px] py-[20px] flex justify-between items-center mx-auto">
    <div class="max-w-[80px] sm:max-w-none">
      <img src="/images/logo.svg" alt="" />
    </div>
  
    <nav>
      <ul class="flex sm:gap-9 gap-4 sm:text-base text-sm">
        <li><a href="">Features</a></li>
        <li><a href="">Team</a></li>
        <li><a href="">Sign in</a></li>
      </ul>
    </nav>
  </div>
</header>
