---

//1230px
---

<header class="w-full">
  <div class="max-w-[1230px] py-[80px] flex justify-between items-center mx-auto">
    <div>
      <img src="/images/logo.svg" alt="" />
    </div>
  
    <nav>
      <ul class="flex gap-9">
        <li><a href="">Features</a></li>
        <li><a href="">Team</a></li>
        <li><a href="">Sign in</a></li>
      </ul>
    </nav>
  </div>
</header>
