---
import Form from "./Form.astro";
---

<section>
  <div class="container">
    <div class="flex">
      <div class="flex-1 flex flex-col gap-5 justify-center pb-7">
        <h1 class="text-[40px] font-bold font-Raleway">All your files in one secure location, accessible anywhere.</h1>
        <p class="text-[19px] leading-6">
          Fylo stores your most important files in one secure location. Access
          them wherever you need, share and collaborate with friends, family,
          and co-workers.
        </p>
        <Form />
      </div>
      <div class="flex-1">
        <img src="/images/illustration-1.svg" alt="">
      </div>
    </div>
  </div>
</section>
