---
import TestimonialCard from "./TestimonialCard.astro";
---

<section class="mt-[160px]">
  <picture class="w-full">
    <source srcset="/images/bg-curve-desktop.svg" media="(min-width: 800px)" />
    <img src="/images/bg-curve-mobile.svg" alt="" class="w-full" />
  </picture>
  <div class="w-full bg-light-grayish-blue">
    <div class="container">
      <div class="flex flex-col-reverse md:flex-row pt-14 pb-28">
        <div class="flex-1 md:mt-0 mt-20">
          <h2
            class="text-[2.3125rem] font-Raleway font-bold md:text-left text-center"
          >
            Stay productive, wherever you are
          </h2>
          <p class="max-w-[30rem] mt-7">
            Never let location be an issue when accessing your files. Fylo has
            you covered for all of your file storage needs.
          </p>
          <p class="max-w-[30rem] mt-6">
            Securely share files and folders with friends, family and colleagues
            for live collaboration. No email attachments required!
          </p>
          <a
            href=""
            class="flex items-center w-fit border-b pb-1 text-[14.7px] text-moderate-cyan border-moderate-cyan gap-2 md:mt-6 mt-9 md:mx-0 mx-auto"
          >
            <span>See how Fylo works</span>
            <img src="/images/icon-arrow.svg" alt="" class="h-[23px]" />
          </a>

          <TestimonialCard />
        </div>
        <div class="flex-1">
          <img src="/images/illustration-2.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  a:hover img {
    transform: translate(5px);
  }
  h2 {
    font-size: clamp(1.2rem, 3.5vw, 2.3125rem);
  }
  p {
    font-size: clamp(0.4rem, 3.5vw, 0.9187rem);
  }
</style>
